<mat-card class="do-quiz-card center-card">

  <h1 *ngIf="quiz.name">
    {{ quiz.name | uppercase }}
  </h1>


  <form [formGroup]="formGroup" (submit)="onSubmit()">
    <div *ngIf="!renderQuestions" class="ng-hide">
      <mat-spinner class="global-block-center global-spinner"></mat-spinner>
    </div>
    <div *ngIf="renderQuestions">
      <mat-horizontal-stepper #stepper="matHorizontalStepper" linear>

        <mat-step *ngFor="let qBlock of quiz.questions; let i = index" [attr.data-index]="i">
          <ng-template matStepLabel></ng-template>
            <div *ngFor="let question of qBlock; let qI = index">

                {{ question.value }}
                <div *ngIf="qI == 0 && i == 0" >

                    <mat-form-field>
                      <mat-select placeholder="{{ question.value }}" formControlName="{{ question.id }}" multiple>
                        <mat-option *ngFor="let answer of question.answers" [value]="answer.id">{{ answer.value }}</mat-option>
                      </mat-select>
                    </mat-form-field>

                </div>

                <div *ngIf="qI == 1 && i == 0" >
                    <mat-radio-group formControlName="{{ question.id }}">
                      <mat-radio-button *ngFor="let answer of question.answers"  value="{{answer.id}}">{{ answer.value }}<br></mat-radio-button>
                    </mat-radio-group>
                </div>

                <div *ngIf="qI == 2 && i == 0" >
                  <mat-select placeholder="Please select" formControlName="{{ question.id }}">
                    <mat-option *ngFor="let answer of question.answers" value="{{answer.id}}">
                      {{ answer.value }}
                    </mat-option>
                  </mat-select>
                </div>

                <div *ngIf="qI == 0 && i == 1" >
                  <mat-form-field>
                    <input matInput placeholder="Please fill in" formControlName="{{ question.id }}">
                  </mat-form-field>
                </div>

                <div *ngIf="qI == 1 && i == 1" >
                  <mat-radio-group formControlName="{{ question.id }}" >
                    <mat-radio-button *ngFor="let answer of question.answers"  value="{{answer.id}}">{{ answer.value }}</mat-radio-button>
                  </mat-radio-group>
                </div>

                <hr>
            </div>
            <div>
              <button *ngIf="i>0" mat-button matStepperPrevious type="button">Back</button>
              <button mat-button matStepperNext type="button">Next</button>
            </div>
        </mat-step>
        <mat-step>
          <ng-template matStepLabel></ng-template>
          <re-captcha
          (resolved)="resolved($event)"
          siteKey="6LfGZU0UAAAAAG8CrfWGJlZdXdtDrT-z2nwPgA5U"
        ></re-captcha>
          <div>
              <button mat-button matStepperPrevious type="button">Back</button>
              <button type="submit" mat-raised-button>Submit</button>
          </div>

        </mat-step>
      </mat-horizontal-stepper>
    </div>

  </form>


  <!-- <label *ngIf="selectedAnswer">selected answer:
    <input [(ngModel)]="selectedAnswer.title" placeholder="title">
  </label> -->

</mat-card>

<!-- idQ -> answer [value,id,list of ids], question-type [input, radio, checkbox, select] -->

<!-- /tutorial/toh-pt3 -->
<!-- https://angular.io/tutorial/toh-pt5 -->
