<mat-card class="do-quiz-card center-card">

  <h1>
    {{ quiz.name | uppercase }}
  </h1>


  <form [formGroup]="formGroup" (submit)="onSubmit()">

    <div *ngIf="renderQuestions">
      <mat-horizontal-stepper #stepper="matHorizontalStepper" linear>

        <mat-step *ngFor="let qBlock of quiz.questions; let i = index" [attr.data-index]="i">
          <ng-template matStepLabel></ng-template>
            <div *ngFor="let question of qBlock">
              question:
                {{ question.value }} - id({{ question.id }})<br>
                <input formControlName="{{ question.id }}" />
              question type:
                {{ question.type || 'none' }}
                <div
                  *ngFor="let answer of question.answers"
                  (click)="onSelect(answer)"
                  [class.selected]="answer === selectedAnswer">
                  <em>{{ answer.value }} - id({{ question.id }})</em>
                </div>
                <br>
                <hr>
            </div>
            <div>
              <button *ngIf="i>0" mat-button matStepperPrevious type="button">Back</button>
              <button *ngIf="i!=quiz.questions.length-1; else elseBlock" mat-button matStepperNext type="button">Next</button>
              <ng-template #elseBlock>
                <button type="submit" mat-raised-button>Submit</button>
              </ng-template>
            </div>
        </mat-step>
      </mat-horizontal-stepper>
    </div>

  </form>


  <!-- <label *ngIf="selectedAnswer">selected answer:
    <input [(ngModel)]="selectedAnswer.title" placeholder="title">
  </label> -->

</mat-card>

<!-- idQ -> answer [value,id,list of ids], question-type [input, radio, checkbox, select] -->

<!-- /tutorial/toh-pt3 -->
<!-- https://angular.io/tutorial/toh-pt5 -->
