@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

*, *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    background: #96DDA0;
    margin: 0;
    padding: 0;
}

.centerfy {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 20px;
    height: 100vh;
}

app-root {
    display: block;
    width: 100%;
}

.global-block-center {
    margin: 0 auto;
}

.global-spinner.mat-progress-spinner circle, .mat-spinner.mat-accent circle {
    stroke: #0E9167;
}